#aboutut-container {
  display: flex;
  text-align: start;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  margin: 40px auto;
}
h3 {
  margin-top: 100px;
  margin-left: 4%;
}
#lina-container,
#mark-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 120px;
  gap: 20px;
}
#bottom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  max-width: 1200px;
  width: 100%;
}
