#booking-form {
  background-image: url(../assets/images/background-img/background3.png);
}
.booking-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 70px;
}
#booking-img {
  max-width: 700px;
  width: 100%;
}
fieldset {
  font-family: "quicksand";
}

#person-form {
  margin: 0 20%;
  padding: 10% 0;
}
#workshop-form {
  margin-top: -18%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 10% 10%;
}
legend {
  font-size: 2rem;
  margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
input[type="datetime-local"],
input[type="number"],
textarea {
  height: 30px;
  width: 700px;
  border: #848487ff 1px solid;
  border-radius: 10px;
  padding-left: 5px;
  margin-bottom: 20px;
  margin-top: 5px;
  color: #7d7d7f;
}
textarea {
  height: 100px;
}
input[type="reset"],
.order-button {
  margin-top: 10px;
  padding: 10px 20px;
  width: 200px;
  justify-content: center;
  margin: 10px 10px;
  border-radius: 25px;
  background-color: white;
  border: #848487ff 1px solid;
}
select,
input[type="datetime-local"],
input[type="reset"],
.order-button,
.mainpage-btn {
  cursor: pointer;
}
.button-row {
  display: flex;
  flex-direction: row;
}
#dialog-message {
  display: none;
  justify-self: center;
  align-self: center;
  padding: 4rem 5rem 5rem;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 20px 8px #55555580;
  background-size: cover;
  background-image: url(../assets/images/background-img/background4.jpg);
}
.mainpage-btn {
  padding: 10px 20px;
  height: 40px;
  width: 200px;
  display: block;
  justify-content: center;
  margin: 0 auto;
  border-radius: 25px;
  border: #848487ff 1px solid;
}

#dialog-message .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
