#main-top {
  background-color: #f6f6f6;
  padding-top: 0%;
}
.hero-course {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}
.section-style img {
  max-width: 100%;
  height: auto;
  border-radius: 0px 70px 0px 70px;
  border: 5px solid #fbf8cc;
  flex: 0 0 200px;
  margin-right: 30px;
}
#txt-block {
  flex: 1 1 400px;
  line-height: 4%;
}
.course-section {
  display: block;
  justify-content: center;
  align-items: center;
}

.course-section1,
.course-section2,
.course-section3 {
  margin: 15% 20%;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.66);
}
.course-section1 {
  background-color: #d8b3b3;
}
.course-section2 {
  background-color: #fbf8cc;
}
.course-section3 {
  background-color: #9bb4f4;
}
.top-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  max-width: 1000px;
  margin: 0 4%;
  padding: 40px 0px;
  gap: 15%;
}
.div-course-img {
  background-color: white;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
}
h3 {
  margin-left: 4%;
}
#h3-w {
  font-size: 1.8rem;
}
.bottom-box {
  margin: 0 4%;
  width: 80%;
  display: block;
  justify-content: center;
  align-items: center;
}
.course-img {
  max-width: 100%;
  max-height: 300px;
}
.book-now1,
.book-now2,
.book-now3 {
  width: 200px;
  margin: 4% 0;
  padding: 5px 6px;
  border-radius: 25px;
  background-color: white;
}
.book-now1 {
  border: 5px solid #9bb4f4;
}
.book-now2 {
  border: 5px solid #d8b3b3;
}
.book-now3 {
  border: 5px solid #fbf8cc;
}
